[Desktop Entry]
Name=rsprox
Comment=Open source Old School RuneScape client.
Exec=rsprox
Icon=rsprox
Terminal=false
Type=Application
Categories=Game;
