<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charSet="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Search - RSProx</title>

	<link rel="stylesheet" type="text/css" th:href="@{/static/css/output.css}"/>
	<script th:src="@{/static/js/jquery-3.7.1.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="py-5 flex flex-col items-center justify-center">
	<h1 class="text-2xl font-bold text-center mb-4">Database</h1>
	<p class="text-center mb-4">Search our centralized database of binaries. For example, say you were looking for a
		binary with Zulral included, you'd set the type to NPC and search for 2042 (Zulrah's ID).</p>

	<form id="searchForm" class="flex flex-col items-center">
		<select class="select select-bordered w-full max-w-xs mb-2" id="typeDropdown">
			<option value="">Select Type</option>
			<option th:each="type : ${types}" th:text="${type}" th:value="${type.getId()}"></option>
		</select>
		<input type="text" id="queryField" class="input input-bordered w-full max-w-xs mb-2" placeholder="Search..."/>
		<button class="btn btn-primary" id="searchButton" type="submit">Search</button>
	</form>

	<div id="results" class="py-5 flex flex-col w-3/4">
		<div id="resultMessage" role="alert" class="alert alert-primary text-center hidden"></div>
		<table id="resultsTable" class="table hidden">
			<thead>
			<tr>
				<th>Date</th>
				<th>Revision</th>
				<th>World Activity</th>
				<th>Size</th>
				<th>Download</th>
			</tr>
			</thead>
			<tbody id="resultsTableBody">

			</tbody>
		</table>
	</div>
</div>

<script>
	const bucketUrl = "[[${bucketUrl}]]";

	function bytesToHumanReadable(bytes) {
		if (bytes === 0) return '0 Bytes';

		const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
		const i = Math.floor(Math.log(bytes) / Math.log(1024));

		return (bytes / Math.pow(1024, i)).toFixed(2) + ' ' + sizes[i];
	}

	$(document).ready(function () {
		$('#searchForm').on('submit', function (e) {
			e.preventDefault();
			fetchResults();
		});

		function fetchResults() {
			const type = $('#typeDropdown').val();
			const queryField = $('#queryField').val();

			const apiEndpoint = `/api/search?type=${type}&query=${queryField}`;

			$.ajax({
				url: apiEndpoint,
				method: 'GET',
				success: function (data) {
					if (data.length === 0) {
						$("#resultsTable").hide();
						$("#resultMessage").html("No results found.");
						$("#resultMessage").show();
						return;
					}

					$("#resultMessage").hide();
					$('#resultsTableBody').empty();

					data.forEach(function (item) {
						const date = new Date(item.createdAt[0], item.createdAt[1] - 1, item.createdAt[2]);
						const formattedDate = date.toLocaleDateString('en-US', {
							year: 'numeric',
							month: 'long',
							day: 'numeric'
						});
						const link = bucketUrl + item.id + ".zip";
						$('#resultsTableBody').append(`
                            <tr>
                                <td>${formattedDate}</td>
                                <td>${item.revision}</td>
                                <td>${item.worldActivity}</td>
                                <td>${bytesToHumanReadable(item.fileSize)}</td>
                                <td><a class="btn btn-accent btn-sm" href="${link}">Download</a></td>
                            </tr>
                        `);
						$('#resultsTable').show();
					});
				},
				error: function () {
					$("#resultMessage").html("An error occurred, try again later.");
				}
			});
		}
	});
</script>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>
