<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charSet="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>OSRS Proxy Tool - RSProx</title>

	<link rel="stylesheet" type="text/css" th:href="@{/css/output.css}"/>
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="hero bg-base-200 min-h-screen">
	<div class="hero-content flex-col lg:flex-row-reverse">
		<img alt="screenshot of rsprox"
			src="/img/rsprox.png"
			class="max-w-sm rounded-lg shadow-2xl" />
		<div>
			<h1 class="text-5xl font-bold">OSRS Proxy Tool</h1>
			<p class="py-6">
				RSProx is a locally hosted proxy server intended to act as a middleman between the clients and servers
				in Old School RuneScape.
			</p>
			<a class="btn btn-primary" href="https://github.com/blurite/rsprox/releases">Download</a>
		</div>
	</div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>
